<div id="header">
  <div id="authentication-bar">
    <div id="authentication-buttons-group" class="container">
      <strong class='header-logo'>
        <%= link_to 'ORS-API', root_path %>
      </strong>
      <ul class='nav'>
        <li><%= link_to 'API Documentation', '/documentation' %></li>
        <li><%= link_to 'Live Demo', questionnaires_path %></li>
        <% if current_user %>
          <li>
            <%= link_to (current_user.first_name.present? ? current_user.first_name : current_user.email), user_path(current_user) %>
          </li>
          <li><%= link_to "Logout", logout_path(:lang => current_user.language) %></li>
        <% else %>
          <% unless is_ramsar_instance? %>
            <li><%= link_to "Sign up", new_user_path(:lang => (params[:lang]||"en")) %></li>
          <% end %>
          <li><%= link_to "Login", new_user_session_path(:lang => (params[:lang]||"en")) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
