<!DOCTYPE html>
<html>
<head>
  <title>ORSApi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container app-content'>
  <%= render 'layouts/header' %>
  <div class='wrapper'>
    <div class='content'>
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>

</body>
</html>
